* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* WORKING */

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#map {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 110, 110);
}

.leaflet-container {
  width: 100%;
  height: 60vh;
}

#exercises-container {
  min-height: 40vh;
  width: 100%;
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
  }
  #map {
    width: 60%;
    height: 100vh;
  }

  .leaflet-container {
    height: 100vh;
  }

  #exercises-container {
    width: 40%;
    min-height: 100vh;
  }
}

@media (min-width: 1280px) {
  #map {
    width: 65%;
  }

  #exercises-container {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  #map {
    width: 70%;
  }

  #exercises-container {
    width: 30%;
  }
}

.leaflet-popup-content-wrapper {
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.running {
  border-color: rgb(216, 204, 35);
}

.cycling {
  border-color: rgb(18, 189, 158);
}

.leaflet-tooltip {
  opacity: 1 !important;
  border: none;
  box-shadow: 0 0 5px #444;
  padding: 10px;
}

.leaflet-tooltip h3 {
  margin: 0;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-100px, 30px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}
